$headerFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$sansFont: Arial, Helvetica, sans-serif;
$accentColor: rgba(0, 0, 255, 0.678);
$standardPadding: 1rem;

$breakpoint-tablet: 600px;